@import url(https://fonts.googleapis.com/css?family=Merriweather:light,regular);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:regular);

body {
  font-family: 'Merriweather Sans';
}

h1, h2, h3 {
  color: #017d7a;
  font-family: 'Merriweather';
}
h1 {
  font-weight: light;
  letter-spacing: -1.5px;
}
h2 {
  font-weight: light;
  letter-spacing: -0.5px;
}
h3 {
  font-weight: regular;
  letter-spacing: 0px;
}
strong {
  color: #00504e;
}
em {
  color: #4bada9;
}

.inverse {
  background: #017d7a;
  color: #f3f3f3;
}
.inverse h1, .inverse h2, .inverse h3{
  color: #f3f3f3;
  font-family: 'Yanone Kaffeesatz';
  letter-spacing: 0px;
}
